*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif !important;
  background-color: #fff;
}

.container {
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

#header-fixed {
  padding: 23px 59px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-container {
  display: inline-block;
}

.logo {
  display: inline-block;
  margin: 0 20px 0 0;
}

.logo-container .text {
  font-family: "ZCOOL XiaoWei", serif;
}

.logo img {
  width: 89px;
  height: 26px;
}

.logo-container .text {
  display: inline-block;
  position: relative;
  top: -4px;
  letter-spacing: 8px;
  color: #000000;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
}

nav ul li.item {
  margin: 0 10px 0 0;
}

nav ul li.item .active {
  color: #fc8a7b;
}

ul li.icon {
  width: 22px;
  height: 22px;
  margin: 3px 2px;
}

ul li.icon a {
  display: block;
  width: 100%;
  height: 100%;
}

nav ul li.item a {
  display: block;
  text-decoration: none;
  padding: 5px 8px;
  color: #535353;
  transition: 0.5s;
  font: sans-serif;
}

nav ul li.item a:not(.active):hover {
  color: rgb(113, 214, 192);
}

li.icon img {
  width: 22px;
  height: 22px;
}

.content {
  width: 100%;
  min-height: 920px;
  display: flex;
}

.content .leftside {
  flex: 1;
  height: 100%;
  max-height: 813px;
}

.leftside .text {
  display: flex;
  justify-content: center;
  margin: 0 0 0 206px;
}

.leftside .text h1 {
  color: #000000;
  font-size: 55px;
  font-weight: 700;
}

.content .rightside {
  flex: 1;
  height: 100%;
  max-height: 813px;
}

.content .leftside img.pencil {
  transform-origin: bottom left;
  transform: skewY(-11deg) skewX(12deg);
}

.content .leftside .img-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 89px;
  margin-right: 181px;
}

.rightside .img-container {
  max-width: 495px;
  width: 100%;
  position: relative;
  margin: 120px 0 0 70px;
}

.app-icons {
  display: flex;
  justify-content: center;
  margin: 28px 0 0 160px;
}

.app-icons .mac {
  margin: 0 12px 0 0;
}

.app-icons .android {
  margin: 0 0 0 12px;
}

.rightside .img-container img.first, img.second, img.third {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}

.rightside .img-container img.first.turn {
  animation-name: appearing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.rightside .img-container img.second.turn {
  position: absolute;
  top: 0;
  animation-name: appearing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.rightside .img-container img.third.turn {
  position: absolute;
  top: 0;
  animation-name: appearing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.why-us {
  background: #fcf6cc !important;
  z-index: 20;
  width: 100%;
  height: 631px;
}

.card-deck {
  display: flex;
  justify-content: space-around;
  transform: translateY(-41%);
}

.card {
  max-width: 320px;
  width: 100%;
  min-height: 380px;
  background: #fff4f3;
  margin: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  text-align: center;
}

.card-image {
  margin: 0 0 25px 0;
}

.card-title span {
  display: block;
  color: #716b6b;
  font-size: 21px;
  line-height: 1.4em;
  font: sans-serif;
}

.message {
  text-align: center;
  transform: translateY(-80%);
}

.message h1 {
  line-height: 27px;
  font-size: 16px;
  color: #212017;
}

.why-us .app-icons {
  margin: 31px 0 0 0;
}

.usage {
  width: 100%;
  height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.usage .title {
  font-size: 25px;
}

.usage .description {
  font-size: 12px;
  line-height: 25px;
}

.description h2 {
  text-align: center;
}

.baby-awards {
  width: 100%;
  height: 100px;
  padding: 50px 0 0 0;
  margin: 30px 0 0 0;
}

.baby-awards p {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.reviews {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  padding: 50px 0;
}

.reviews .leftside {
  min-width: 25%;
  width: 720px;
  height: 418px;
  margin: 0 20px 0 0;
  background: #fff4f3;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews .rightside {
  max-width: 720px;
  height: 418px;
  background: #fff4f3;
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.owl-carousel .item p {
  font-size: 25px;
  font-weight: 700;
  margin: 50px 0 0 0;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin: 50px 0 0 0;
}

.owl-dot:focus {
  outline: none;
  border: none;
}

.rightside .item h4 {
  font-size: 20px;
  line-height: 25px;
  color: #716B6A;
}

.rightside .item {
  display: block;
}

.swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.reviews .swiper-slide p {
  font-size: 20px;
  color: #4F4B4B;
}

.award-winning {
  background: #fcf6cc;
  transform: translateY(-200px);
  z-index: -1;
  width: 100%;
  height: 1300px;
}

.award-winning .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(220px);
  padding: 0px 0px 150px 0;
}

/* 
.award-winning img {
  max-width: 1149px;
  width: 100%;
  min-height: 657px;
} */

.award-winning .text {
  transform: translateY(22px);
}

.award-winning .text p {
  font-size: 35px;
  font-weight: 700;
}

.award-winning .card-deck {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translateY(50%);
}

.award-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 200px;
  min-height: 200px;
  width: 100%;
}

.award-card img {
  max-width: 105px;
  width: 100%;
  height: 105px;
}

.award-card .description p {
  font-size: 16px;
  /* margin: 25px 0 0 0; */
}

.presentation {
  width: 100%;
  height: 800px;
  display: flex;
  transform: translateY(-100px);
}

.presentation .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.presentation .left .text h2 {
  display: block;
  font-size: 40px;
  font-weight: 700;
}

.presentation .left .text {
  margin: 0 0 0 95px;
  line-height: 50px;
}

.presentation .left .text p {
  font-size: 18px;
  margin: 15px 0 0 0;
  line-height: 30px;
}

.presentation .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.right .slider {
  max-width: 380px;
  width: 100%;
  background: white;
  overflow: hidden;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
}

.slider::before, .slider::after {
  max-width: 380px;
  width: 100%;
  min-height: 550px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 3%);
  z-index: 2;
}

.slide::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateY(180deg);
}

.slide {
  display: flex;
  align-items: center;
  animation: slideshow 56s linear infinite;
}

.presentation .right img {
  max-width: 380px;
  width: 100%;
  min-height: 550px;
}

.presentation .app-icons {
  margin: 28px 0 0 100px;
}

.contact {
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  transform: translateY(-150px);
}

.contact .ask {
  max-width: 823px;
  width: 100%;
  min-height: 527px;
  background: #FFF4F3;
  margin: 0 40px 0 0;
}

.contact .subscribe {
  max-width: 823px;
  width: 100%;
  min-height: 527px;
  background: #FFF4F3;
  margin: 0 0 0 40px;
}

.ask {
  display: flex;
  flex-direction: column;
}

.ask .title p {
  font-size: 30px;
  margin: 100px 0 30px 0;
}

.ask form .inputs {
  display: flex;
  justify-content: center;
}

.ask form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs input {
  padding: 6px 2px;
  border: none;
  outline: none;
  caret-color: #535353;
  font-size: 20px;
  max-width: 200px;
  width: 100%;
}

.inputs input:hover {}

.ask form {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
}

.ask form textarea {
  resize: none;
  width: 100%;
  border: none;
  margin: 20px 0 0 0;
  height: 127px;
  padding: 10px;
  font-size: 20px;
  outline: none;
}

form input[type="submit"] {
  padding: 10px 5px;
  width: 100%;
  margin: 10px 0 0 0;
  background: #FC8A7B;
  outline: none;
  border: none;
  color: #FFFEFF;
  font-size: 15px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.inputs input[type="text"] {
  margin: 0 20px 0 0;
}

.inputs ::-webkit-input-placeholder {
  margin: 0 0 0 5px;
}

.subscribe .title p {
  font-size: 30px;
  margin: 98px 0 30px 0;
}

.subscribe .icons {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.subscribe .icons img:not(:last-child) {
  margin: 0 10px 0 0;
}

.subscribe input[type="text"] {
  padding: 10px 5px 10px 5px;
  width: 100%;
  font-size: 20px;
  border: none;
}

.subscribe .email input[type="text"]:hover {
  outline: 2px solid #FC8A7B;
}

.subscribe .email {
  text-align: center;
  width: 100%;
  max-width: 423px;
  margin: 70px auto 0 auto;
}

.subscribe input[type="submit"] {
  padding: 10px 5px;
  width: 100%;
  margin: 10px 0 0 0;
  background: #FC8A7B;
  outline: none;
  border: none;
  color: #FFFEFF;
  font-size: 15px;
  cursor: pointer;
}

.subscribe input[type="submit"]:hover {
  opacity: 0.8;
  transition: opacity .5s;
}

.subscribe .rights {
  font-size: 16px;
  margin: 74px 0 0 0;
  color: #7D7A7A;
}

.under {
  width: 100%;
  min-height: 200px;
  background: #FCF6CC;
  transform: translateY(-300px);
  position: relative;
  z-index: -1;
}

.owl-carousel .item {
  text-align: center;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  50%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideshow {
  0% {
    transform: translate(0);
  }
  70% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(-100%);
  }
}

#showcase-animation img {
  opacity: 0;
  transition: opacity 1s;
}

#showcase-animation img.fade {
  opacity: 1;
}