*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif !important;
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

#header-fixed {
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.875rem 0 0 5rem;
}

.logo {
  margin: 0 1.25rem 0 0;
}

.logo-container .text {
  font-family: "ZCOOL XiaoWei", serif;
}

.logo img {
  width: 5.5625rem;
  height: 1.625rem;
}

.logo-container .text {
  letter-spacing: 0.5rem;
  color: #000000;
  font-size: 1.25rem;
}

nav {
  margin: 1.875rem 3.75rem 0 5rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
}

nav ul li.item {
  margin: 0 10px 0 0;
}

nav ul li.item .active {
  color: #fc8a7b;
}

ul li.icon {
  width: 1.375rem;
  height: 1.375rem;
  margin: 0.1875rem 0.125rem;
}

ul li.icon a {
  display: block;
  width: 100%;
  height: 100%;
}

nav ul li.item a {
  display: block;
  text-decoration: none;
  padding: 0.3125rem 0.5rem;
  color: #535353;
  transition: 0.5s;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
}

nav ul li.item a:not(.active):hover {
  color: rgb(113, 214, 192);
}

li.icon img {
  width: 1.375rem;
  height: 1.375rem;
}

.content {
  width: 100%;
  display: flex;
}

.content .leftside {
  flex: 1;
}

.leftside .text {
  display: flex;
  justify-content: center;
  margin: 0 0 0 1.875rem;
}
.leftside .text h1,
span,
h2 {
  columns: #000000;
  font-size: 3.4375rem;
  font-weight: 700;
}
.content .rightside {
  flex: 1;
}

.content .leftside img.pencil {
  transform-origin: bottom left;
  transform: skewY(-11deg) skewX(12deg);
}

.content .leftside .img-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5.5625rem;
  margin-right: 11.3125rem;
}

.rightside .img-container {
  width: 30.9375rem;
  position: relative;
  margin: 7.5rem 0 0 4.375rem;
}
.leftside .app-icons {
  display: flex;
  justify-content: center;
  margin: 1.75rem 2.3125rem 0 0;
}
.rightside .img-container img.first,
img.second,
img.third {
  display: block;
  width: 100%;
  opacity: 0;
}

.rightside .img-container img.first.turn {
  animation-name: appearing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.rightside .img-container img.second.turn {
  position: absolute;
  top: 0;
  animation-name: appearing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.rightside .img-container img.third.turn {
  position: absolute;
  top: 0;
  animation-name: appearing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  50%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
